<div class="calendar-container">
  <div class="calendar-container__timezone">
    <div class="timezone">
      <div class="timezone__title">Escolha um horário</div>
      <div class="timezone__description">Fuso horário de Sao Paulo (-3)</div>
    </div>

    <div class="calendar-control">
      <a><mat-icon>arrow_back_ios</mat-icon></a>
      <div class="days">
        <div>
          <div class="week-day">Dom</div>
          <div class="month-day">Jun 19</div>
        </div>
        <div>
          <div class="week-day">Seg</div>
          <div class="month-day">Jun 20</div>
        </div>
        <div>
          <div class="week-day">Ter</div>
          <div class="month-day">Jun 21</div>
        </div>
        <div>
          <div class="week-day">Qua</div>
          <div class="month-day">Jun 22</div>
        </div>
        <!---->
      </div>
      <a><mat-icon>arrow_forward_ios</mat-icon></a>
    </div>
  </div>
  <div class="calendar-container__hour">
    <div class="column">
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
    </div>
    <div class="column">
      <div>
        <a class="slot-time ng-star-inserted">14:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">14:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">15:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">15:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">16:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">16:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">17:00</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
      <div>
        <a>-</a>
      </div>
    </div>
    <div class="column">
      <div>
        <a class="slot-time ng-star-inserted">10:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">10:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">11:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">11:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">12:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">12:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">13:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">13:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">14:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">14:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">15:00</a>
      </div>
    </div>
    <div class="column">
      <div>
        <a class="slot-time ng-star-inserted">10:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">10:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">11:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">11:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">12:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">12:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">13:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">13:30</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">14:00</a>
      </div>
      <div>
        <a class="slot-time ng-star-inserted">14:30</a>
      </div>
    </div>
  </div>
</div>
