<div class="calendar-container">
  <div class="calendar-container__timezone">
    <div class="timezone">
      <div class="timezone__title">Escolha um horário</div>
      <div class="timezone__description">Fuso horário de Sao Paulo (-3)</div>
    </div>

    <div class="calendar-control">
      <a><mat-icon>arrow_back_ios</mat-icon></a>
      <div class="days">
        <div *ngFor="let day of schedule">
          <div class="week-day">{{ day.week }}</div>
          <div class="month-day">{{ day.month }}</div>
        </div>
      </div>
      <a><mat-icon>arrow_forward_ios</mat-icon></a>
    </div>
  </div>
  <div class="calendar-container__hour">
    <div class="column" *ngFor="let day of schedule">
      <div *ngFor="let hour of day.hours">
        <a>{{ hour }}</a>
      </div>
    </div>
  </div>
</div>
