<div class="card" *ngFor="let specialist of specialists">
  <div class="specialist">
    <app-specialist-info [specialist]="specialist"></app-specialist-info>

    <app-calendar [schedule]="specialist.schedule"></app-calendar>
  </div>
  <div class="professional-summary">
    {{ specialist.description }}
  </div>
  <div class="button-container">
    <button class="secondary-button" routerLink="{{ specialist.id }}/">
      Gostei quero <mat-icon>favorite</mat-icon> saber mais
    </button>
  </div>
</div>
