<main class="main">
  <div class="main__content">
    <header class="logo">
      <strong class="logo--strong">SCHEDULE </strong>
      <span class="logo--normal">EASY</span>
    </header>

    <h2>A página que você procura não foi encontrada!</h2>

    <div class="button-container">
      <div>
        <button class="secondary-button" routerLink="/login">
          VOLTAR À HOME
        </button>
      </div>
    </div>
  </div>

  <aside class="main__aside">
    <img src="/assets/images/error-404-colour.svg" alt="" />
  </aside>
</main>
