@import "/src/assets/styles/variables.scss";

section {
  padding: 0 80px;
}

.card {
  margin-top: 20px;
  padding: 30px 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  background: $white;

  .specialist {
    display: flex;
    justify-content: space-between;

    .info-container {
      display: flex;

      .avatar {
        img {
          border: 1px solid $gray-50;

          border-radius: 100px;
        }
      }

      .info {
        width: 100%;
        margin: 0 0 15px 22px;
        color: #4d5c65;
        font-size: 14px;

        h2 {
          font-size: 1.4rem;
          font-weight: 600;
        }

        .crp {
          margin-top: 10px;
          width: 100%;

          & > span:first-child {
            color: $purple-600;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
          }
        }

        .languages-container {
          margin-top: 10px;
        }

        .rating-container {
          margin-top: 10px;

          display: flex;
          align-items: flex-end;

          & > mat-icon {
            color: #fed500;
          }

          & > span {
            margin-left: 10px;
          }
        }

        .specialties-container {
          ul {
            padding-left: 0;
            & > li {
              list-style-type: none;
            }
          }
        }

        .price-container {
          p {
            margin-top: 5px;
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .professional-summary {
    margin: 20px 0;
    font-size: 14px;
    text-align: justify;
    position: relative;
    overflow: hidden;
    padding-right: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: center;

    .secondary-button {
      border: 2px solid $purple-500;
      color: $purple-500;
      background-color: transparent;
      border-radius: 50px;
      font-weight: 600;
      font-size: 1rem;

      border-radius: 30px;
      line-height: 50px;
      padding: 0 40px;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      mat-icon {
        margin: 0 10px;
      }

      &:hover {
        background: #b1a0ee;
        border: 2px solid #b1a0ee;
        color: $white;
      }
    }
  }
}
