@import "/src/assets/styles/variables.scss";

section {
  padding: 0 80px;
}

.card {
  margin-top: 20px;
  padding: 30px 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  background: $white;

  .specialist {
    display: flex;
    justify-content: space-between;

    .info-container {
      display: flex;

      .avatar {
        img {
          border: 1px solid $gray-50;

          border-radius: 100px;
        }
      }

      .info {
        width: 100%;
        margin: 0 0 15px 22px;
        color: #4d5c65;
        font-size: 14px;

        h2 {
          font-size: 1.4rem;
          font-weight: 600;
        }

        .crp {
          margin-top: 10px;
          width: 100%;

          & > span:first-child {
            color: $purple-600;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
          }
        }

        .languages-container {
          margin-top: 10px;
        }

        .rating-container {
          margin-top: 10px;

          display: flex;
          align-items: flex-end;

          & > mat-icon {
            color: #fed500;
          }

          & > span {
            margin-left: 10px;
          }
        }

        .specialties-container {
          ul {
            padding-left: 0;
            & > li {
              list-style-type: none;
            }
          }
        }

        .price-container {
          p {
            margin-top: 5px;
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }
    }

    .calendar-container {
      &__timezone {
        .timezone {
          background-color: $purple-500;
          color: #fff;
          padding: 10px 0;
          text-align: center;

          &__title {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
          }

          &__description {
            font-size: 14px;
          }
        }

        .calendar-control {
          display: flex;
          align-items: center;

          background-color: $white;
          padding: 10px;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);

          margin-bottom: 20px;

          a {
            background: #637078;
            border-radius: 15px;
            height: 25px;
            width: 25px;
            text-align: center;
            display: flex;
            align-items: center;
            padding: 0 5px;
            padding-top: 4px;

            color: $white;

            mat-icon {
              font-size: 20px;
              font-weight: bold;
            }
          }

          .days {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            color: #4d5c65;

            .week-day {
              font-size: 10px;
            }

            .month-day {
              font-size: 14px;
            }
          }
        }
      }

      &__hour {
        display: flex;
        justify-content: center;
        min-height: 200px;
        max-height: 200px;
        overflow-x: auto;
        width: 350px;

        justify-content: space-between;

        .column {
          text-align: center;
          text-transform: uppercase;
          width: 23%;

          :hover {
            color: #fff;
            background-color: $purple-500;
          }

          > div {
            color: #4d5c65;
            display: block;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 600;
            padding: 10px 5px;
            background-color: #e1e6ec;
            margin-bottom: 10px;

            cursor: pointer;
          }
        }
      }
    }
  }

  .professional-summary {
    margin: 20px 0;
    font-size: 14px;
    text-align: justify;
    position: relative;
    overflow: hidden;
    padding-right: 1rem;
  }

  .button-container {
    display: flex;
    justify-content: center;

    .secondary-button {
      border: 2px solid $purple-500;
      color: $purple-500;
      background-color: transparent;
      border-radius: 50px;
      font-weight: 600;
      font-size: 1rem;

      border-radius: 30px;
      line-height: 50px;
      padding: 0 40px;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      mat-icon {
        margin: 0 10px;
      }

      &:hover {
        background: #b1a0ee;
        border: 2px solid #b1a0ee;
        color: $white;
      }
    }
  }
}
