@import '/src/assets/styles/variables.scss';

@import '@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-deep-purple, 500);
$custom-secondary: mat-palette($mat-deep-purple);
$custom-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-primary, $custom-secondary, $custom-warn);

@include angular-material-theme($custom-theme);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: $gray-50;
}
